## String Based Problem

In [80]:
s1= "I am data scientist"

rev_s1 = s1[::-1]

In [15]:
print(rev_s1)

tsitneics atad ma I

In [16]:
def palindrome(s):
    return s == s[::-1]
s = 'level'
ans = palindrome(s)

if ans:
    print("yes")
else:
    print("No")

yes

In [17]:
s1.upper()

'I AM DATA SCIENTIST'

In [18]:
s1.lower()

'i am data scientist'

In [22]:
s1

'I am data scientist'

In [41]:
def vowel(s1):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s1:
        if char in vowels:
            count += 1
    return count
vowel_count = vowel(s1)

print(f"Number of vowel: {vowel_count}")

Number of vowel: 7

In [42]:
def consonant(s1):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s1:
        if char not in vowels and char.isalpha():
            count += 1
    return count
consonant_count = consonant(s1)

print(f"Number of consonant: {consonant_count}")

Number of consonant: 9

In [46]:
s1

'I am data scientist'

In [47]:
s1.replace(" ","")

'Iamdatascientist'

In [59]:
def length(s1):
    count= 0 
    for char in s1:
        if char.isalpha():
            count +=1
    return count
    
string_count = length(s1)

print(f"Number of string count:{string_count}")

Number of string count:16

In [14]:
s1

'I am data scientist'

In [15]:
spacial_word = "data"

if spacial_word in s1:
    print("string contains spacial word:",spacial_word)
else :
    print("string does not contains spacial word")

string contains spacial word: data

In [18]:
s1.replace('data','nuero')

'I am nuero scientist'

In [20]:
s1.count('a')

3

In [21]:
s1.index('a')

2

In [25]:
s1.rfind('a')

8

In [7]:
s=s1.split()

In [8]:
s

['I', 'am', 'data', 'scientist']

In [9]:
type(s)

list

In [10]:
s2=' '.join(s)

In [44]:
s2

'I am data scientist'

In [45]:
s2.replace(" ","_")

'I_am_data_scientist'

In [46]:
s1

'I am data scientist'

In [57]:
word = 'I'
if s1.startswith(word):
    print("It is start with:",word)
else:
    print("It is not start with",word)

It is start with: I

In [17]:
s3= 'my name is vishal'

In [18]:
word1= 'vishal'
if s3.endswith(word1):
    print('yes')
else:
    print('no it is not')

yes

In [22]:
s4=s3.title()
s4

'My Name Is Vishal'

In [74]:
words = s1.split()
longest_word = max(words,key = len)

In [75]:
longest_word

'scientist'

In [76]:
shortest_word = min(words , key = len)
shortest_word

'I'

In [85]:
words = s1.split()
rev_word = ' '.join(reversed(words))
rev_word

'scientist data am I'

In [101]:
v1 = 'jemesbond007'
words = v1.isalnum()
words

True

In [106]:
v1

'jemesbond007'

In [126]:
digit = ''.join(char for char in v1 if char.isdigit())
print("digits are:", digit)

digits are: 007

In [127]:
digit = ''.join(char for char in v1 if char.isalpha())
print("digits are:", digit)

digits are: jemesbond

In [128]:
s1

'I am data scientist'

In [129]:
s2 = s1.title()

In [13]:
s2

'I am data scientist'

In [146]:
uppercase = ''.join(char for char in s2 if char.isupper())
print("uppercase are:" , uppercase)

uppercase are: IADS

In [144]:
lowercase = ''.join(char for char in s2 if char.islower())
print("lowercase are:" , lowercase)

lowercase are: matacientist

In [23]:
s4

'My Name Is Vishal'

In [24]:
s4.swapcase()

'mY nAME iS vISHAL'

In [26]:
s4.replace('a','')

'My Nme Is Vishl'

In [27]:
pip install validate_email_address

Collecting validate_email_address
  Downloading validate-email-address-1.tar.gz (4.9 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: validate_email_address
  Building wheel for validate_email_address (setup.py): started
  Building wheel for validate_email_address (setup.py): finished with status 'done'
  Created wheel for validate_email_address: filename=validate_email_address-1-py3-none-any.whl size=5765 sha256=2f8c934cdd87a3cc755f360a8010171d94a1e5cfe28227b14710f1bed745b2ac
  Stored in directory: c:\users\vishal\appdata\local\pip\cache\wheels\c4\60\ae\b075ad339f93c331f892a38c746ea60fa1ab98b85bcde6ba94
Successfully built validate_email_address
Installing collected packages: validate_email_address
Successfully installed validate_email_address-1
Note: you may need to restart the kernel to use updated packages.

In [6]:
from validate_email_address import validate_email

def is_valid_email(email):
    return validate_email(email)

e1 = "user@example.com"
if is_valid_email(email_to_check):
    print(f"{e1} is a valid email address.")
else :
    print(f"{e1} is not valid email address.")

user@example.com is a valid email address.

In [8]:
e1

'user@example.com'

In [13]:
parts = e1.split('@')
print(parts[0])

user

In [14]:
print(parts[1])

example.com

In [20]:
s5 = "I   am data   scientist"
words = s5.split()

result_st = ' '.join(words)
result_st

'I am data scientist'

In [21]:
from urllib.parse import urlparse

In [30]:
url = 'https://www.example.com'

def is_valid_url(url):
    try:
        result == urlparse(url)
        return all([result.scheme, result.netloc])
    except:
            return False
    
if is_valid_url(url):
    print(f'{url} is a valid URL.')
else:
    print(f'{url} is not a valid URL.')

https://www.example.com is not a valid URL.

In [32]:
protocol = url.split(':')
print(protocol[0])

https

In [33]:
from collections import Counter

def character_frequency(input_string):
    # Use Counter to count the frequency of each character
    frequency_counter = Counter(input_string)

    return frequency_counter

# Example usage:
input_str = 'hello world'

char_freq = character_frequency(input_str)

# Display the character frequencies
for char, freq in char_freq.items():
    print(f'Character: {char}, Frequency: {freq}')

Character: h, Frequency: 1
Character: e, Frequency: 1
Character: l, Frequency: 3
Character: o, Frequency: 2
Character:  , Frequency: 1
Character: w, Frequency: 1
Character: r, Frequency: 1
Character: d, Frequency: 1

In [34]:
s1

'I am data scientist'

In [36]:
from collections import Counter

In [39]:
freq = Counter(s1)
freq

Counter({'I': 1,
         ' ': 3,
         'a': 3,
         'm': 1,
         'd': 1,
         't': 3,
         's': 2,
         'c': 1,
         'i': 2,
         'e': 1,
         'n': 1})

In [50]:
v = 'hello, my name. is_vishal'

In [53]:
trans = string.punctuation

In [81]:
s1

'I am data scientist'

In [60]:
s2 = '123456'

In [61]:
s2.isdigit()

True

In [66]:
s1 = "datascientist"
s1.isalpha()

True

In [82]:
s3 = [s1]
s3

['I am data scientist']

In [83]:
type(s3)

list

In [85]:
b1 = 'heart'
b2 = 'earth'

if sorted(b1) == sorted(b2):
    print("it's anagrams")
else:
    print("it's not anagram")

it's anagrams

In [86]:
def caesar_cipher_encrypt(plaintext, shift):
    encrypted_text = ""

    for char in plaintext:
        if char.isalpha():  # Process only alphabetic characters
            start = ord('a') if char.islower() else ord('A')
            encrypted_char = chr((ord(char) - start + shift) % 26 + start)
            encrypted_text += encrypted_char
        else:
            encrypted_text += char  # Keep non-alphabetic characters unchanged

    return encrypted_text

# Example usage:
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)

print(f'Original text: {plaintext}')
print(f'Encrypted text: {encrypted_text}')

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

In [87]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():  # Process only alphabetic characters
            start = ord('a') if char.islower() else ord('A')
            decrypted_char = chr((ord(char) - start - shift) % 26 + start)
            decrypted_text += decrypted_char
        else:
            decrypted_text += char  # Keep non-alphabetic characters unchanged

    return decrypted_text

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)

print(f'Encrypted text: {encrypted_text}')
print(f'Decrypted text: {decrypted_text}')

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

In [99]:
freq

Counter({'I': 1,
         ' ': 3,
         'a': 3,
         'm': 1,
         'd': 1,
         't': 3,
         's': 2,
         'c': 1,
         'i': 2,
         'e': 1,
         'n': 1})

In [100]:
most_frequnt = max(freq)
most_frequnt

't'

## List Based Problem

In [41]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
def length(l1):
    count = 0
    for _ in l1:
        count +=1
    return count
list_count = length(l1)
print(f"length of list: {list_count}")

length of list: 17

In [32]:
l1.append(11)

In [33]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
l1.insert(4,4)

In [43]:
l1

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [50]:
l1.remove(1)

In [51]:
l1

[2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [56]:
l1.pop(1)

4

In [60]:
inte = (5)

if inte in l1:
    print(f"integer {inte} is present in list")
else:
    print("integer is not in list")

integer 5 is present in list

In [78]:
l1

[3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
l1.index(8)

5

In [80]:
word = 4

In [83]:
l2 = l1.count(word)
l2

1

In [84]:
l1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3]

In [85]:
l1.sort()

In [86]:
l1

[3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
l1.sort(reverse = True)

In [88]:
l1

[10, 9, 8, 7, 6, 5, 4, 3]

In [106]:
l3 = list(range(2,21,2))

In [107]:
l3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [99]:
l4 = list(range(1,21,2))
l4

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [113]:
l5 = sum(l3)
l5

110

In [116]:
l6 = max(l3)
l6

20

In [117]:
l7 = min(l3)
l7

2

In [132]:
v1 = [x**2 for x in range(1,11)]
print(v1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [139]:
import random
v2 = random.sample(range(1,111),15)
print(v2)

[13, 45, 4, 17, 31, 95, 43, 97, 29, 18, 48, 40, 5, 39, 9]

In [19]:
l = [1,2,3,5,4,3,1,5,36]
l

[1, 2, 3, 5, 4, 3, 1, 5, 36]

In [3]:
duplicate = []
for x in l:
    if x not in duplicate:
        duplicate.append(x)

print(duplicate)

[1, 2, 3, 5, 4, 36]

In [35]:
l = [1, 2, 3, 5, 4, 36]
lm = [14,1,58,3,4,99]
common = [x for x in l if x in lm]
print(common)

[1, 3, 4]

In [36]:
diff = [x for x in l if x not in lm] + [x for x in lm if x not in l]
print(diff)

[2, 5, 36, 14, 58, 99]

In [37]:
l.extend(lm)
print(l)

[1, 2, 3, 5, 4, 36, 14, 1, 58, 3, 4, 99]

In [40]:
l1 = [1,2,3,4,5,6,7,8,9]

In [42]:
lv = [2*x for x in l1]
print(lv)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
l

[1, 2, 3, 5, 4, 36, 14, 1, 58, 3, 4, 99]

In [4]:
even = [x for x in l if x%2 == 0]
print(even)

[2, 4, 36]

In [16]:
v = ['2', '4', '6', '8', '10', '12', '14', '16', '18']
v1 = [int(num) for num in v]
print(v1)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
l1 = [1,2,3,4,5,6,7,8,9]
v2 = [str(num) for num in l1]
print(v2)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [10]:
type(v2)

list

In [11]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

nested_list = [[1, 2, [3, 4]], [5, [6, 7]], 8, [9]]
flattened_list = flatten_list(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
def fibonacci(n):
    fibonacci_numbers = [0,1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return fibonacci_numbers
first_10 = fibonacci(10)
print(first_10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [9]:
first_10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
f = sorted(first_10)

In [14]:
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [20]:
l

[1, 2, 3, 5, 4, 3, 1, 5, 36]

In [14]:
l1 == sorted(l)
if l == l1 :
    print("it's sorted")
    
else:
    print("it's not sorted")

it's not sorted

In [24]:
my_list = [1, 2, 3, 4, 5]
n = 2

rotated_list = my_list[n:] + my_list[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

In [31]:
my_list = [1, 2, 3, 4, 5]
n = 2

rotated_list = my_list[-n:] + my_list[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

In [10]:
p = 50
primes = [n for n in range(2, p) if all(n % i != 0 for i in range(2,int(n**0.5)+1))]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [12]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
chunk = [l[i:i + n] for i in range(0, len(l), n)]
chunk

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [3]:
l = [1, 2, 3, 5, 4, 36, 14, 1, 58, 3, 4, 99]
l1 = sorted(l,reverse = True)
l1[1]

58

In [7]:
l1

[99, 58, 36, 14, 5, 4, 4, 3, 3, 2, 1, 1]

In [5]:
l2 = [num**2 for num in l1]

In [6]:
l2

[9801, 3364, 1296, 196, 25, 16, 16, 9, 9, 4, 1, 1]

In [16]:
lst = ['apple', 'banana', 'orange']
lst1 = {value: index for index , value in enumerate(lst)}
lst1

{'apple': 0, 'banana': 1, 'orange': 2}

In [17]:
import random

def shuffle_list(lst):
    shuffled_list = lst.copy()  # Create a copy to avoid modifying the original list
    random.shuffle(shuffled_list)
    return shuffled_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [2, 5, 4, 1, 3]

In [18]:
l1

[99, 58, 36, 14, 5, 4, 4, 3, 3, 2, 1, 1]

In [81]:
import math

def generate_factorials(n):
    factorials = []
    for i in range(n):
        factorials.append(math.factorial(i))
    return factorials

print(generate_factorials(10))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [99]:
def common_element(l, l1):
    for element in list1:
        if element in list2:
            return True
    return False
result = common_element(l, l1)
print(result)

True

In [105]:
lc = l.clear()
l

[]

In [116]:
def replace_negatives_with_zero(lst):
    return [max(0, num) for num in lst]
my_list = [1, -2, 3, -4, 5]
result_list = replace_negatives_with_zero(my_list)
print(result_list)

[1, 0, 3, 0, 5]

In [122]:
v = 'vishal data science'
v1 = v.split()
print(v1)

['vishal', 'data', 'science']

In [124]:
v2 = ' '.join(lst)
print(v2)

apple banana orange

In [127]:
n = 5
power_of_two = [2**i for i in range(n)]
power_of_two

[1, 2, 4, 8, 16]

In [149]:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

longest_string = max(string_list, key=len, default=None)

print(longest_string)

strawberry

In [21]:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

shortest_string = min(string_list, key=len, default=None)

print(shortest_string)

kiwi

In [153]:
#formula : T_n = n * (n + 1) / 2
n = 10
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [156]:
from collections import Counter
mainlist = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sublist = [3, 5, 7]
sub_counter = Counter(sublist)
main_counter = Counter(mainlist)

v = all(sub_counter[item] <= main_counter[item] for item in sublist)

print(v)

True

In [171]:
def swap_elements_by_indices(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

swap_elements_by_indices(my_list, 1, 3)
print("List after swapping elements at indices 1 and 3:", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping elements at indices 1 and 3: [1, 4, 3, 2, 5]

## Tuple Based Problem

In [53]:
t = tuple(range(1,6))
t

(1, 2, 3, 4, 5)

In [176]:
t[2]

3

In [178]:
t

(1, 2, 3, 4, 5)

In [75]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0

for _ in my_tuple:
    tuple_length += 1

print(tuple_length)

5

In [59]:
t1 = (1,5,2,4,45,2,5,9,5,7,3,5)
t1.count(5)

4

In [50]:
t1.index(5)

1

In [51]:
def check(n,t1):
    if n in t1:
        return True
    else:
        return False
n = 45 
result = check(n,t1)
print(result)

True

In [60]:
t2 =list(t1)
t2

[1, 5, 2, 4, 45, 2, 5, 9, 5, 7, 3, 5]

In [61]:
type(t2)

list

In [62]:
t3 = tuple(t2)
t3

(1, 5, 2, 4, 45, 2, 5, 9, 5, 7, 3, 5)

In [211]:
type(t3)

tuple

In [213]:
t

(1, 2, 3, 4, 5)

In [215]:
var1 ,var2 ,var3, var4,var5 = t

In [216]:
print(var1 ,var2 ,var3, var4,var5)

1 2 3 4 5

In [220]:
t = tuple(range(1,11))
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
even = tuple(x for x in t if x%2 == 0)
print(even)

(12, 8, 6, 56, 2)

In [28]:
odd = tuple(x for x in t if x%2 != 0)
print(odd)

(5, 3, 9, 1, 5, 1, 345, 511)

In [45]:
t_con = t + t1
t_con

(1, 2, 3, 4, 5, 42, 'Hello, World!', 3.14, True)

In [54]:
t_3 = t*3
t_3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [240]:
if len(t) == 0:
    print('empty')
else:
    print('not_empty')

not_empty

In [241]:
Nested_t= ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Nested_t

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [243]:
Nested_t[0]

(1, 2, 3)

In [247]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

In [251]:
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 3)

# Equal
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

# Not equal
if tuple1 != tuple2:
    print("Tuples are not equal")
else:
    print("Tuples are equal")

# Greater than
if tuple1 > tuple2:
    print("Tuple1 is greater than tuple2")
else:
    print("Tuple1 is not greater than tuple2")

Tuples are not equal
Tuples are not equal
Tuple1 is greater than tuple2

In [254]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [256]:
del t

In [44]:
t

(1, 2, 3, 4, 5)

In [258]:
t1

(1, 5, 2, 4, 45, 2, 5, 9, 5, 7, 3, 5)

In [259]:
sliced = t1[1:4]
sliced

(5, 2, 4)

In [260]:
max(t1)

45

In [261]:
min(t1)

1

In [263]:
s1 = 'Hello world'
s1

'Hello world'

In [264]:
s2 = tuple(s1)
s2

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [265]:
type(s2)

tuple

In [268]:
s3 = ''.join(tuple(s2))
s3

'Hello world'

In [1]:
t1 = (42, "Hello, World!", 3.14, True)
t1

(42, 'Hello, World!', 3.14, True)

In [5]:
t

(1, 2, 3, 4, 5)

In [8]:
t_3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [9]:
if t1 == t_3:
    print("both tuple are identical")
else:
    print("both tuples are not identical")

both tuples are not identical

In [55]:
t4 = tuple(sorted(t_3))
t4

(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5)

In [17]:
t5 = tuple(str(i) for i in t4)
t5

('1', '1', '1', '2', '2', '2', '3', '3', '3', '4', '4', '4', '5', '5', '5')

In [19]:
t6 = tuple(int(i) for i in t5)
t6

(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5)

In [24]:
t7 = tuple(t) + tuple(t_3)
t7

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [30]:
def flatten_nested_tuple(n_tuple):
    flattened_list = []
    for item in n_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_nested_tuple(item))
        else:
            flattened_list.append(item)
    return flattened_list

n_tuple = ((1, 2, 3), ('a', 'b', 'c'), (4, 5, 6))

flattened_tuple = tuple(flatten_nested_tuple(n_tuple))

print("Flattened Tuple:", flattened_tuple)

Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', 4, 5, 6)

In [29]:
p = 12
primes = tuple(n for n in range(2, p) if all(n % i != 0 for i in range(2,int(n**0.5)+1)))
primes

(2, 3, 5, 7, 11)

In [32]:
def palindrome(n_tuple):
    return n_tuple == n_tuple[::-1]
ans = palindrome(n_tuple)
if ans:
    print("yes")
else:
    print("No")

No

In [35]:
t

(1, 2, 3, 4, 5)

In [19]:
t_square = tuple(i**2 for i in (range(1,6)))
t_square

(1, 4, 9, 16, 25)

In [55]:
t3

(1, 5, 2, 4, 45, 2, 5, 9, 5, 7, 3, 5)

In [61]:
t_even = tuple(i for i in t3 if i%2 == 0)
print(t_even)

(2, 4, 2)

In [64]:
t_m = tuple(x*2 for x in t3)
t_m

(2, 10, 4, 8, 90, 4, 10, 18, 10, 14, 6, 10)

In [66]:
import random
r_tuple = tuple(random.randint(1,100) for _ in range(5))
r_tuple

(72, 9, 93, 75, 99)

In [68]:
if r_tuple == sorted(r_tuple):
    print("Sorted")
else:
    print("unsorted")

unsorted

In [70]:
tu = (1, 2, 3, 4, 5)
n = 2

left_rotated = tu[n:] + tu[:n]
print(left_rotated)

(3, 4, 5, 1, 2)

In [71]:
tu = (1, 2, 3, 4, 5)
n = 2

right_rotated = tu[-n:] + tu[:-n]
print(right_rotated)

(4, 5, 1, 2, 3)

In [76]:
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return tuple(fib_list)
fibonacci_tuple = fibonacci(5)
fibonacci_tuple

(0, 1, 1, 2, 3)

In [2]:
user_inp = input("my name is :")
user_tuple = tuple(map(str.strip, user_inp.split(',')))
user_tuple

my name is :vishal

('vishal',)

In [5]:
original_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
list_version = list(original_tuple)
list_version[index1], list_version[index2] = list_version[index2], list_version[index1]
swapped_tuple = tuple(list_version)
swapped_tuple

(1, 4, 3, 2, 5)

In [11]:
t =tuple(reversed(swapped_tuple))
t

(5, 2, 3, 4, 1)

In [17]:
t_power = tuple(2**i for i in (range(1,6)))
t_power

(2, 4, 8, 16, 32)

In [26]:
t_S = tuple(string_list)
t_S

('apple', 'banana', 'kiwi', 'strawberry', 'orange')

In [34]:
t_S = ('apple', 'banana', 'kiwi', 'strawberry', 'orange')
longest_string = ''
max_length = 0
for string in t_S:
    if len(string) > max_length:
        longest_string = string
        max_length = len(string)
print(longest_string)

strawberry

In [39]:
shortst_string = t_S[0]
min_length = len(shortest_string)
for string in t_S:
    if len(string) < min_length:
        shortest_string = string
        min_length = len(string)
print(shortest_string)

kiwi

In [41]:
n = 10
triangular_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_tuple)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [44]:
from collections import Counter
mainlist = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sublist = (3, 5, 7)
sub_counter = Counter(sublist)
main_counter = Counter(mainlist)

v = all(sub_counter[item] <= main_counter[item] for item in sublist)

print(v)

True

In [45]:
n = 8 
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Problem

In [16]:
s = set(range(1,6))
s

{1, 2, 3, 4, 5}

In [68]:
s1 = s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [69]:
s.remove(2)

In [70]:
s

{1, 3, 4, 5, 6}

In [74]:
d = 3
if d in s:
    print("element exist")
else:
    print("element is not exist")

element exist

In [81]:
length = 0
for _ in s:
    length += 1
print(length)

5

In [79]:
len(s)

5

In [84]:
s1 = {15,3,4,7,9,2,6,3,5,1}
s1

{1, 2, 3, 4, 5, 6, 7, 9, 15}

In [86]:
s1.clear()

In [87]:
s1

set()

In [88]:
s_even = {i for i in s if i%2 == 0}
print(s_even)

{4, 6}

In [89]:
s_odd = {i for i in s if i%2 != 0}
print(s_odd)

{1, 3, 5}

In [120]:
s

{1, 3, 4, 5, 6}

In [99]:
s2= {11,22,3,55,66,88,47}

In [100]:
s_u = s.union(s2)
s_u

{1, 3, 4, 5, 6, 11, 22, 47, 55, 66, 88}

In [101]:
s_i = s.intersection(s2)
s_i

{3}

In [19]:
s_d = s.difference(s2)
s_d

{1, 2, 3}

In [105]:
s_sub = s.issubset(s2)
s_sub

False

In [106]:
s_supset = s.issuperset(s2)
s_supset

False

In [33]:
l = [1,4,5,26,3,8811,5,63,84,318,45,112]

In [109]:
l_to_s = set(l)
l_to_s

{1, 3, 4, 5, 26, 45, 63, 84, 112, 318, 8811}

In [110]:
type(l_to_s)

set

In [112]:
s_to_l = list(s)
s_to_l

[1, 3, 4, 5, 6]

In [113]:
type(s_to_l)

list

In [114]:
l_to_s.remove(8811)

In [115]:
l_to_s

{1, 3, 4, 5, 26, 45, 63, 84, 112, 318}

In [119]:
l_to_s.pop()

1

In [17]:
s

{1, 2, 3, 4, 5}

In [122]:
l_to_s

{3, 4, 5, 26, 45, 63, 84, 112, 318}

In [127]:
if len(s.intersection(l_to_s)) == 0:
    print("no common element")
else:
    print("common elements are",s.intersection(l_to_s))

common elements are {3, 4, 5}

In [128]:
s.symmetric_difference(l_to_s)     #x in a or x in b but not in a and b

{1, 6, 26, 45, 63, 84, 112, 318}

In [20]:
s_d

{1, 2, 3}

In [137]:
s_i

{1, 3, 4, 5, 6}

In [6]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

In [7]:
p = 12
primes = {n for n in range(2, p) if all(n % i != 0 for i in range(2,int(n**0.5)+1))}
primes

{2, 3, 5, 7, 11}

In [11]:
are_identical_operator = len(set1) == len(set2)
are_identical_operator

True

In [13]:
p2 = frozenset(primes)
p2

frozenset({2, 3, 5, 7, 11})

In [21]:
s.isdisjoint(s_d)

False

In [26]:
ss = {i**2 for i in range(1,6)}
ss

{1, 4, 9, 16, 25}

In [27]:
s = {1,2,3,4,5,6,8,22320,9,15,2,66,5,33,5,122,211,51,12212}

se = {x for x in s if x%2 == 0}
se

{2, 4, 6, 8, 66, 122, 12212, 22320}

In [29]:
s_2x = {x*2 for x in s}
s_2x

{2, 4, 6, 8, 10, 12, 16, 18, 30, 66, 102, 132, 244, 422, 24424, 44640}

In [33]:
import random
r_set = set(random.randint(1,100) for _ in range(5))
r_set

{14, 50, 52, 76, 77}

In [34]:
if len(s_2x) == 0:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

In [35]:
nested_set = {frozenset({2,3}), frozenset({5,7}), frozenset({11})}
nested_set

{frozenset({11}), frozenset({2, 3}), frozenset({5, 7})}

In [4]:
sd = {11,22,33,44,55,66,77,88,99}
sd.discard(11)
sd

{22, 33, 44, 55, 66, 77, 88, 99}

In [5]:
set_A = {1, 2, 3, 4, 5}
set_B = {3, 4, 5, 6, 7}

# Equality
print("Are the sets equal?", set_A == set_B)

# Subset and Superset
print("Is A a subset of B?", set_A.issubset(set_B))
print("Is B a superset of A?", set_B.issuperset(set_A))

# Intersection
intersection = set_A.intersection(set_B)
print("Intersection of A and B:", intersection)

# Difference
difference_A_B = set_A.difference(set_B)
difference_B_A = set_B.difference(set_A)
print("Difference A - B:", difference_A_B)
print("Difference B - A:", difference_B_A)

# Union
union = set_A.union(set_B)
print("Union of A and B:", union)

Are the sets equal? False
Is A a subset of B? False
Is B a superset of A? False
Intersection of A and B: {3, 4, 5}
Difference A - B: {1, 2}
Difference B - A: {6, 7}
Union of A and B: {1, 2, 3, 4, 5, 6, 7}

In [10]:
s ="Hello world"

s1 = set(s)
s1

{' ', 'H', 'd', 'e', 'l', 'o', 'r', 'w'}

In [12]:
sr={'11', '22', '33', '5', '41', '12', '31'}
s_int = {int(i) for i in sr}
s_int

{5, 11, 12, 22, 31, 33, 41}

In [13]:
s_str = {str(i) for i in s_int}
s_str

{'11', '12', '22', '31', '33', '41', '5'}

In [16]:
t = (12,5,3,9,8,1,6,56,5,1,345,511,2)
ts = set(t)
ts

{1, 2, 3, 5, 6, 8, 9, 12, 56, 345, 511}

In [17]:
st = tuple(ts)
st

(1, 2, 3, 5, 6, 8, 9, 12, 56, 345, 511)

In [21]:
smax = max(st)
smax

511

In [22]:
smin = min(st)
smin

1

In [23]:
inp = input("Enter the no .")
inp_list = inp.split()
inp_set = {int(i) for i in inp_list}
inp_set

Enter the no .12 14 54 89 100

{12, 14, 54, 89, 100}

In [26]:
A = {1, 2, 3, 4, 5}
B = {6, 7, 8, 9, 10}
intersection_result = A.intersection(B)
is_empty_comparison = not bool(intersection_result)
print("Is the intersection empty?:", is_empty_comparison)

Is the intersection empty?: True

In [32]:
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return set(fib_list)
fibonacci_tuple = fibonacci(6)
fibonacci_tuple

{0, 1, 2, 3, 5}

In [36]:
l = [1, 4,3,84,45, 5, 26, 3, 8811, 5, 63, 84, 318, 45, 112]

In [37]:
l1 = set(l)
l2 = list(l1)
l2

[1, 3, 4, 5, 8811, 45, 112, 84, 26, 318, 63]

In [38]:
set_A = {1, 2, 3, 4, 5}
set_B = {5, 4, 3, 2, 1}
# Check if the sets have the same elements, regardless of order
s_equal = set_A == set_B
s_equal

True

In [42]:
n = 5
n_2 = {2**i for i in range(n)}
n_2

{1, 2, 4, 8, 16}

In [46]:
A = {1, 10, 3, 4, 5}
B = {6, 7, 5, 9, 10}
common = A.intersection(B)
common

{5, 10}

In [47]:
n = 10
triangular_set = set((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_set

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

In [48]:
set_A = {1, 2, 3, 4, 5}
set_B = {2, 4}
is_subset = set_B.issubset(set_A)
is_subset

True

In [49]:
n = 10
alter_set = {1 if i%2 == 0 else 0 for i in range(n)}
alter_set

{0, 1}

In [52]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
merged_set = s1.union(s2, s3)
merged_set

{1, 2, 3, 4, 5, 6, 7}